.who-we-are-inner {
    display: flex;
    justify-content: space-between;
}
section.who-we-are-main .container-size {
    max-width: 1360px;
}
.who-we-are-left h3 {
    color: #2d2d2d;
    margin: 0;
    line-height: 1;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 26px;
}
.who-we-are-left {
    width: 57%;
    padding-top: 52px;
}
.who-we-are-right {
    width: 37%;
    text-align: right;
}
section.who-we-are-main {
    padding-top: 115px;
    padding-bottom: 125px;
}
.who-we-are-img {
    box-shadow: 0px 3px 5px rgb(0 0 0 / 12%);
    background: #fff;
    text-align: center;
    line-height: 0;
    padding: 15px 0;
}
.who-we-are-left p {
    color: #494949;
    font-size: 20px;
    line-height: 43px;
}
.who-we-are-counter {
    display: flex;
    justify-content: space-between;
}
.who-we-counter-list {
    width: 30%;
    text-align: center;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 12%);
    background: #fff;
    padding-top: 19px;
    padding-bottom: 29px;
}
.who-we-counter-list h3 {
    margin: 0;
    color: #04748e;
    font-size: 46px;
    line-height: 1;
    font-weight: 400;
}
.who-we-counter-list p {
    line-height: 1;
    color: #202020;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}
.who-we-are-left p.who-we-are-des {
    padding-right: 75px;
    margin-bottom: 39px;
}
