@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}
* 
{
  box-sizing: border-box;
}
p, ul {
  margin: 0;
  padding: 0;
}
.container-size {
  max-width: 1415px;
  margin: 0 auto;
}
.loader {
  text-align: center;
}
.loader img {
  max-width: 300px;
}
section.get-in-touch-main {
  display: flex;
  align-items: center;
}
.get-in-touch-form form {
  display: flex;
  flex-wrap: wrap;
}
.get-in-touch-form {
  max-width: 450px;
  background: hsl(0deg 0% 16%);
  text-align: center;
  padding: 80px 40px;
  margin-left: -10rem;
}
.get-in-touch-form form .col-md-6 input, .get-in-touch-form form .col-md-12 input, .get-in-touch-form form .col-md-12 textarea, .get-in-touch-form form .col-md-6 select {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border-color: transparent;
}
.get-in-touch-form form .col-md-12 {
  width: 100%;
}
.get-in-touch-form form .col-md-6 {
  width: 47.3%;
}
.get-in-touch-form form .col-md-6, .get-in-touch-form form .col-md-12 {
  margin: 8px 5px;
}

.get-in-touch-form h3 {
  margin: 0;
  text-align: center;
  color: #ffa824;
  font-size: 36px;
  font-weight: 500;
}
.get-in-touch-form p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0 25px;
}
.get-in-touch-form form button {
  background: hsl(192deg 93% 29%);
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  border-color: transparent;
  transition: all 0.5s ease;
}
.get-in-touch-form form button:hover {
  background: #ffa824;
  transition: all 0.5s ease;
}
.get-in-touch-form form input:focus, textarea:focus, select:focus  {
  outline: 0 !important;
}

/********* loader Css ***********/

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #ffa824;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader-spinner-p {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}